@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-int{
  background-size: cover;
  background-image: url('https://cdn.dribbble.com/users/2256359/screenshots/15441742/media/1a4f3a1e1a7f40333744b79f62d13e7f.jpg');
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  
  /* image */

  .bg-img{
    background-image: url('https://cdn.dribbble.com/users/2256359/screenshots/14883002/media/3af44828f4e88cccd094ab2521ef6b2d.jpg?compress=1&resize=400x300');
    background-size: cover;
  }


  
  
.progress {
	background-color: #e3e1e1;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	min-height: 20px;
	width: 100%;
}

.progress-done {
  background: #1f4037;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
	border-radius: 20px;
	color: #fff;
  padding: 4px;
  font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0; 
	transition: 1s ease 0.3s;
}



